.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 50%;
  background-color: aqua;
}

.carImg {
  width: 30%;
  height: 100px;
  border-radius: 100px;
}