.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 8;
  height: 90vh;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.tableHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}


