.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 8;
  height: 90vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.mainHeading {
  text-transform: uppercase;
}

.headingInfo {
  color: #999;
}

.modelsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  gap: 20px;
}
