.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 100%;
  gap: 20px;
  flex: 8;
}

.carImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.carImage {
  height: 70%;
  width: 70%;
}

.carDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}